body {
  background-color: rgb(27, 27, 27);
}

/* Nav Bar */
.navbar{
  position: fixed;
  display: inline-block;
  top: 0px;
  background-color: black;
  width: 100%;
  text-align: center;
  /* Stops overlapping when scrolling */
  z-index:1;
  /* Centering the navbar */
  left: 50%;
  transform: translateX(-50%);
}

.navbar ul{
  padding: 0px 0px;
}

div{
  text-align: center;
  color: white;
}

li{
  display: inline;
}

li a{
  color: white;
  background-color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

li a:hover {
  color: red;
}

/* Home section */
.home{
  min-height: 100vh;
}

.home h1{
  position: absolute;
  margin-top: 40vh;
  margin-left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
}

.home h2{
  position: absolute;
  margin-top: 60vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
}

/* Skills section */
.skills{
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 50vh);
}

.skills h1{
  position: absolute;
  margin-top: 15vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}

.dev{
  grid-column-start: 3;
  grid-column-end: span 8;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);

  margin-top: 25vh;
  background-color: black;
  box-shadow: inset 0 0 0 2px red;
}
.dev h2{
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 1;
  font-size: 2vw;
}

.software{
  grid-column-start: 1;
  grid-row-start: 2;
  box-shadow: inset 0 0 0 2px red;
  background-color: black;
}
.software h3{
  font-size: 1.5vw;
}
.software p{
  font-size: 1vw;
}
.software h4{
  font-size: 1vw;
}
.software ul{
  padding: 0px 0px;
}
.software ul li{
  background-color: gray;
  text-align: center;
  display: inline-block;
  padding: 0px 0px;
  font-size: 1vw;
}

.fullstack{
  grid-column-start: 2;
  grid-row-start: 2;
  box-shadow: inset 0 0 0 2px red;
  background-color: black;
}
.fullstack h3{
  font-size: 1.5vw;
}
.fullstack p{
  font-size: 1vw;
}
.fullstack h4{
  font-size: 1vw;
}
.fullstack ul{
  padding: 0px 0px;
}
.fullstack ul li{
  background-color: gray;
  text-align: center;
  display: inline-block;
  padding: 0px 0px;
  font-size: 1vw;
}

.firmware{
  grid-column-start: 3;
  grid-row-start: 2;
  box-shadow: inset 0 0 0 2px red;
  background-color: black;
}
.firmware h3{
  font-size: 1.5vw;
}
.firmware p{
  font-size: 1vw;
}
.firmware h4{
  font-size: 1vw;
}
.firmware ul{
  padding: 0px 0px;
}
.firmware ul li{
  background-color: gray;
  text-align: center;
  display: inline-block;
  padding: 0px 0px;
  font-size: 1vw;
}


.app{
  grid-column-start: 4;
  grid-row-start: 2;
  box-shadow: inset 0 0 0 2px red;
  background-color: black;
}
.app h3{
  font-size: 1.5vw;
}
.app p{
  font-size: 1vw;
}
.app h4{
  font-size: 1vw;
}
.app ul{
  padding: 0px 0px;
}
.app ul li{
  background-color: gray;
  text-align: center;
  display: inline-block;
  padding: 0px 0px;
  font-size: 1vw;
}


/* Projects section */
.projects{
  min-height: 100vh;
}

a{
  color: white;
  background-color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

a:hover {
  color: red;
}

/* Experience section */
.experience{
  min-height: 100vh;
}

/* Contact section */
.contact{
  min-height: 100vh;
}

#info{
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
}

#blocker{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#instructions{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: white;
}