body {
  background-color: rgb(27, 27, 27);
}

/* Nav Bar */
.navbar{
  position: fixed;
  display: inline-block;
  top: 0px;
  background-color: black;
  width: 100%;
  text-align: center;
  /* Stops overlapping when scrolling */
  z-index:1;
  /* Centering the navbar */
  left: 50%;
  transform: translateX(-50%);
}

.navbar ul{
  padding: 0px 0px;
}

div{
  text-align: center;
  color: white;
}

li{
  display: inline;
}

li a{
  color: white;
  background-color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

li a:hover {
  color: red;
}

.mode{
  float: right;
  padding: 0px 0px;
}
.change {
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}
.dark{
  background-color: #222;
  color: #e6e6e6;
}

/* Home section */
.home{
  min-height: 100vh;
}

.home h1{
  position: absolute;
  margin-top: 40vh;
  margin-left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
}

.home h2{
  position: absolute;
  margin-top: 60vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
}

/* Skills section */
.skills{
  min-height: 50vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*grid-template-rows: repeat(1, 50vh);*/
}

.skills h1{
  position: absolute;
  margin-top: 15vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}

.skills ul li{
  background-color: gray;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

.dev{
  grid-column-start: 2;
  grid-column-end: span 10;
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, auto);

  margin-top: 20vh;
  height: 50%;
  background-color: black;
  box-shadow: inset 0 0 0 2px red;
}

.software{
  grid-column-start: 1;
  grid-row-start: 1;
  box-shadow: inset 0 0 0 1px red;
  background-color: black;
}
.software ul{
  padding: 0px 0px;
}
.software ul li{
  background-color: gray;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

.fullstack{
  grid-column-start: 2;
  grid-row-start: 1;
  box-shadow: inset 0 0 0 1px red;
  background-color: black;
}
.fullstack ul{
  padding: 0px 0px;
}
.fullstack ul li{
  background-color: gray;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

.firmware{
  grid-column-start: 3;
  grid-row-start: 1;
  box-shadow: inset 0 0 0 1px red;
  background-color: black;
}
.firmware ul{
  padding: 0px 0px;
}
.firmware ul li{
  background-color: gray;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

.app{
  grid-column-start: 4;
  grid-row-start: 1;
  box-shadow: inset 0 0 0 1px red;
  background-color: black;
}
.app ul{
  padding: 0px 0px;
}
.app ul li{
  background-color: gray;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

/* Projects section */
.projects{
  min-height: 25vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.projects h1{
  position: absolute;
  margin-top: 15vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}
.project_list{
  grid-column-start: 1;
  grid-column-end: 13;
  margin-top: 25vh;
  max-height: 50vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(13, 1fr);
  gap: 3vh;
}

.online_portfolio{
  box-shadow: inset 0 0 0 2px red;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: black;
}
.online_portfolio h3{
  background-color: gray;
  padding: 10px 10px;
  margin: 1vw;
}

.ubet{
  box-shadow: inset 0 0 0 2px red;
  grid-column-start: 5;
  grid-column-end: 7;
  background-color: black;
}
.ubet h3{
  background-color: gray;
  padding: 10px 10px;
  margin: 1vw;
}

.waspet{
  box-shadow: inset 0 0 0 2px red;
  grid-column-start: 8;
  grid-column-end: 10;
  background-color: black;
}
.waspet h3{
  background-color: gray;
  padding: 10px 10px;
  margin: 1vw;
}

.rand_meal_gen{
  box-shadow: inset 0 0 0 2px red;
  grid-column-start: 11;
  grid-column-end: 13;
  background-color: black;
}
.rand_meal_gen h3{
  background-color: gray;
  padding: 10px 10px;
  margin: 1vw;
}

.psyrus{
  box-shadow: inset 0 0 0 2px red;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: black;
}
.psyrus h3{
  background-color: gray;
  padding: 10px 10px;
  margin: 1vw;
}

/* Experience section */
.experience{
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.experience h1{
  position: absolute;
  margin-top: 15vh;
  max-height: 50vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}
.work{
  grid-column-start: 3;
  grid-column-end: 11;
  margin-top: 25vh;
}

.lynntech{
  box-shadow: inset 0 0 0 2px red;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: black;
}

.comp_info{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 0px 0px;
  box-shadow: inset 0 0 0 2px red;
  background-color: black;
}
.company{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: left;
  font-size: 32px;
}
.date{
  grid-column-start: 6;
  grid-column-end: 9;
  text-align: right;
}
.website{
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: 5;
}
.website a{
  padding: 0;
  text-align: left;
  font-size: 18px;
}
.location{
  grid-column-start: 6;
  grid-column-end: 9;
  text-align: right;
  margin-top: 0;
}

.tools{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 0px;
}
.tools div ul{
  padding: 0px 0px;
}
.tools div ul li{
  background-color: gray;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

/* Contact section */
.contact{
  min-height: 20vh;
  display: grid;
}
.contact{
  position: absolute;
  margin-top: 15vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}

.contact h1{
  position: absolute;
  margin-top: 20vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}
.socials{
  margin-top: 20vh;
  padding: 0px 0px;
}

a{
  color: white;
  background-color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 24px;
}
a:hover {
  color: red;
}

#info{
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
}
#blocker{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
#instructions{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: white;
}