[data-theme="dark"] {
  --color-text: white;
  --color-grid-border: red;
  --color-grid-header-bg: rgb(128, 0, 0);
  --color-li-bg: gray;
  --color-bg: rgb(55, 55, 55);
  --color-fg: black;
  --color-bg-trans: rgba(0,0,0,0.5);
  --github-outline: "assets/contacts/logo_github_outlined_dark.png"
}

[data-theme="light"] {
  --color-text: black;
  --color-grid-border: #33ffff;
  --color-grid-header-bg: #00cccc;
  --color-li-bg: rgb(204, 204, 204);
  --color-bg: rgb(200, 200, 200);
  --color-fg: white;
  --color-bg-trans: rgba(255,255,255,0.5);
  --github-outline: "../../assets/contacts/logo_github_outlined_light.png"
}


body {
  background-color: var(--color-bg);
}

/* Nav Bar */
.navbar{
  position: fixed;
  display: inline-block;
  top: 0px;
  background-color: var(--color-fg);
  width: 100%;
  text-align: center;
  /* Stops overlapping when scrolling */
  z-index:1;
  /* Centering the navbar */
  left: 50%;
  transform: translateX(-50%);
}

.navbar ul{
  padding: 0px 0px;
}

div{
  text-align: center;
  color: var(--color-text);
}

li{
  display: inline;
}

li a{
  color: var(--color-text);
  background-color: var(--color-fg);
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

li a:hover {
  color: var(--color-grid-border);
}

/* Home section */
.home{
  min-height: 100vh;
}

.home h1{
  position: absolute;
  margin-top: 40vh;
  margin-left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
}

.home h2{
  position: absolute;
  margin-top: 60vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
}

/* Skills section */
/* TODO: Make the top section be grayed to fit the color scheme*/
.skills{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.skills h1{
  position: absolute;
  margin-top: 15vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}
.skills h2{
  font-size: 2vw;
}
.skills h3{
  font-size: 1.5vw;
}
.skills p{
  min-height: fit-content;
  text-align: center;
  font-size: 1.2vw;
}
.skills li{
  background-color: var(--color-li-bg);
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  margin: 2% 2%;
  border-radius: 20px;
  font-size: 1vw;
}

.dev{
  grid-column-start: 2;
  grid-column-end: span 10;
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  margin-top: 25vh;
  background-color: var(--color-fg);
  box-shadow: inset 0 0 0 2px var(--color-grid-border);
}
.dev div{
  border-right: 1px solid var(--color-grid-border);
  border-left: 1px solid var(--color-grid-border);
}
.dev ul{
  padding: 0px 0px;
}
.type{
  border: 2px solid var(--color-grid-border);
  background-color: var(--color-grid-header-bg);
}

/* Projects section */
/** 
  TODO: 
    Make everything align in the screen evenly
    Put button correctly in the project box
*/
.projects{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.projects h1{
  position: absolute;
  margin-top: 15vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}

.project_list{
  grid-column-start: 2;
  grid-column-end: span 10;
  margin-top: 25vh;
}

.status{
  /* This is for nested elements */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.status h2{
  grid-column-end: span 12;
  font-size: 2vw;
}

.project{
  /* Determines the spacing of each project in the grid */
  /* TODO: Update this when projects are getting bigger */
  grid-column-end: span 4;
  border: 2px solid var(--color-grid-border);
  background-color: var(--color-fg);
  margin: 1vw;
  padding: 4%;
}
.project h3{
  background-color: var(--color-li-bg);
  padding: 4% 4%;
  margin: 1vw;
  font-size: 1.5vw;
}
.project h4{
  font-size: 2vw;
}
.project p{
  text-align: center;
  font-size: 1.2vw;
}
.project a{
  font-size: 2vw;
}

/* Experience section */
.experience{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.experience h1{
  position: absolute;
  margin-top: 25vh;
  max-height: 50vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}
.company{
  margin-top: 35vh;
  box-shadow: inset 0 0 0 2px var(--color-grid-border);
  grid-column-start: 2;
  grid-column-end: span 10;
  background-color: var(--color-fg);
}
.company li{
  background-color: var(--color-li-bg);
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  margin: 2% 2%;
  border-radius: 20px;
  font-size: 1vw;
}

.company_info{
  border-bottom: 2px solid var(--color-grid-border);
}
.company_info ul{
  border: 2px solid var(--color-grid-border);
  background-color: var(--color-grid-header-bg);
  padding: 0px 0px;
  margin: 0%;
}
.company_info h2{
  font-size: 2vw;
}
.company_info h2 a{
  font-size: 2vw;
}

.position h2{
  background-color: var(--color-li-bg);
  padding: 10px 10px;
  margin: 1vw;
  grid-column-end: span 19;
  font-size: 1.5vw;
}

.tools{
  /* This is for parent element */
  grid-column-end: span 12;
  /* This is for nested elements */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.tools div{
  grid-column-end: span 3;
  grid-template-columns: auto;
}
.tools div ul{
  padding: 0px 0px;
}

/* Contact section */
.contact{
  display: grid;
}
.contact{
  position: absolute;
  margin-top: 15vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}
.contact h1{
  position: absolute;
  margin-top: 20vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}

.socials{
  margin-top: 30vh;
  padding: 0px 0px;
}
.socials a img{
  max-width: 5vw;
  height: auto;
}

/* Rest class configs */
/* TODO: Fit the color scheme */
a{
  color: var(--color-text);
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 24px;
}
a:hover {
  color: var(--color-grid-border);
}
a.button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  text-decoration: none;
  background-color: var(--color-text);
  color: var(--color-fg);
}
a.button:hover {
  color: var(--color-grid-border);
}

.github_logo img::after{
  src: var(--github-outline)
}

#info{
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}
#blocker{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-trans);
}
#instructions{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: var(--color-text);
}